* { 
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.clear-fix {
    clear: both;
}



/*navbar */

.navbar { 
    text-align: center;
    background-color:white;
    height:80px;
    
   
}
.navbar .logo {
    float: left;
    padding:15px;
    margin-left:10px;
}
.logo img {
    width:50%;

}

.list ul {
    list-style-type: none;
   
}

.list li {
    float: right;
    padding:15px;
    position: relative;top:0.8em;
    position: relative;right:1em;
    font-size:22px;
}
.list li a {
    color: black;
   text-decoration: none;
   
   
}

.list li a:hover{
    color: #8E7754;
}




/*header*/

.header {
    width: 100%;
    height:35vh;
    background-image: url(../images/drew-coffman-1872.jpg);
    background-size:cover;
    background-position: 100%  center ;
}

.header-text h1 {
    color:white;
    font-size: 44px;
    font-weight:300;
    position: relative;left:5.2em;top:2em;


}
.header-text a {
    color: white;
    font-size:20px;
    text-decoration: none;
    position: absolute;top:12em;left:31.6em;
    font-weight:400;
}



/* contact-section */
.contact-section {
    padding:20px 20px;
    width: 100%;

}
.contact-section h2 {
    font-style: italic;
    font-size: 30px;
}
.contact-form {
    float: left;
    width:50%;
    position: relative;top:6.2em;
    margin:0 20px ;
    
}
.Contact-h2 {
    position: relative;top:2.2em;left:0.8em;

}
.contact-form .text {
    float: left;
    width: 48%;
    padding:10px 10px 16px;    
    margin-bottom: 10px;

}

.contact-form .mail {
    float: right;
    width:48%;
    padding:10px 10px 16px;
    margin-bottom: 10px;


}
.contact-form .subject {
    width:100%;
    margin: 10px 0;
    padding:12px 10px;
}

.contact-form .massage {
    width:100%;
    margin:10px 0;
    padding:12px 10px;
   
}
.contact-form .btn {
    padding: 12px 20px;
    font-size: 16px;
    background-color:#8F7854 ;
    border-radius: 5px;
    color: white;
    font-weight: 600;

}
.contact-form .btn:hover {
    background-color: #333333;
}


.info-section {


    width: 40%;
    padding: 40px;
    float: right;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.info-text p {
    font-family:Alegreya Sans;
    font-size: 20px;
    line-height: 31.62px;
    color:#686868;
    padding-bottom: 20px;
}

.info-text li {
    font-family:Alegreya Sans;
    font-size: 18px;
    line-height: 31.62px;
    color:#686868;
    padding-bottom: 5px;
    margin-bottom: 8px;
}
.info-text h2 {
    color:#080808;
    font-size:28px;
    padding-bottom: 30px;
    
}
.info-details {
    font-style: italic;
    font-weight:700;
    color:#050404;
    
}

.info-list ul {
    list-style-type: none;
}

.info-list li  img{
    width: 25px; 
    margin-right:20px;
    border-radius: 5px;
    background-color:#8F7854 ;
    
   
  }


/*summary*/

.summary {
    background-color:#403D38;
    width: 100%;
    margin: auto;
    padding: 20px 0;
 }

.summary-item {
    float: left;
    width:23%;
    padding: 20px 0;
    position: relative;left:85px;
  

}

.summary-item p{
    color:RGB(150, 150, 150);
    font-size: 18px;
    line-height: 30px;
    padding-right:8px;
}
.summary-item ul{
    color:RGB(150, 150, 150);
    font-size: 14px;
    line-height: 30px;
}
.summary-item .artcle {
    color: whitesmoke;
    font-size:20px;
    margin-bottom:20px;
   
    
}

.summary-item hr {
    width:60%;
    opacity:10%; 

    
}

.summary-item  ul {
    list-style-type: none;

}
.summary-item li {
   margin-bottom: 5px;
}
.summary-item li img {
    width: 20px;
    margin-right:10px;
    background-color:RGB(150, 150, 150) ;
    opacity:25%
    
}
.summary-item li a {
    text-decoration: none;
    color: RGB(150, 150, 150);
}



/*footer*/

.foot {
background-color: #353330;
color: #777777;
text-align: center;
padding-top: 50px;

}

.foot-img {
    margin-bottom: 50px auto;
}
.foot p {
    padding-bottom:22px;
}
.foot-list ul {
    list-style-type: none;
}

.foot-list li {
    float: left;
    padding:15px;
    position: relative;left:42%;
    
}

.foot-list li img {
    width: 30px;
     position: relative;right:15px
}
